#home {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
}

#home .hero-cta {
    color: white;
    position: absolute;
    top: 40%;
    z-index: 1;
    -webkit-animation: 0.5s ease-out 0s 1 slightSlideInFromBottom;
    animation: 0.5s ease-out 0s 1 slightSlideInFromBottom;
}

#home .hero-cta h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
    padding-bottom: 20px;
    z-index: 2;
}

#home .hero-cta .btn {
    padding: 10px 50px;
    font-size: 16pt;
}

#home .hero-cta .btn .btn-text {
    padding-right: 10px;
}

#home .hero-cta .btn .btn-icon {
    position: relative;
    top: 2px;
    color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#home .hero-cta .btn:hover {
    background-color: #00b8a5;
    border-color: #00b8a5;
    color: white;
}

#home .hero-cta .btn:hover .btn-icon {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    color: white;
}

#home .hero-cover {
    height: 100vh;
    overflow: hidden;
}

#home .hero-cover img {
    position: absolute;
}

#home .hero-cover .hero-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
    z-index: -1;
}

#home .hero-cover .spotlight-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    -webkit-clip-path: circle(20% at 65% 75%);
    clip-path: circle(20% at 65% 75%);
    background-color: rgba(0, 184, 165, 0.25);
    mix-blend-mode: hard-light;
    -webkit-animation: 0.5s ease-out 0s 1 growCircle;
    animation: 0.5s ease-out 0s 1 growCircle;
}

/* footer section styling */
footer {
    background: #e5e5e5;
    padding: 15px 23px;
    color: #000;
    text-align: center;
}

footer span a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

/*team member*/
section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #951f1f;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

.member .title::before {
    background: #ccc;
}

.membera .title::after {
    content: "who i am";
    background-color: #202020;
}

.container .cardp {
    width: 230px;
    height: 350px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
    margin: 15px;
}

.cardp::after {
    content: " ";
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 81, 255, 0.864);
}

.cardp img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fit;
    transition: .6s;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
    z-index: 99;
}

.cardp:hover img {
    transform: scale(.50) translateY(-120px);
    border-radius: 10px;
}

.cardp .detailsp {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 40px;
    transform: translateY(100%);
    transition: .6s;
}

.cardp:hover .detailsp {
    transform: translateY(0);
}

.detailsp h3 {
    font-size: 22px;
    color: rgb(0, 81, 255);
}

.detailsp p {
    font-size: 15px;
    color: #333;
    margin-bottom: 7px;
}

.detailsp .social-linksp {
    display: flex;
}

.detailsp .social-linksp a {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 50%;
    color: #333;
    background-color: rgb(182, 182, 182);
    text-decoration: none;
    transition: .6s;
    display: grid;
    place-items: center;
    font-size: 17px;
}

.detailsp .social-linksp a:hover {
    transform: rotate(360deg);
    background-color: rgb(0, 81, 255);
    color: #fff;
}


/*timelene*/
.wrapper {
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
}

.wrapper .center-line {
    position: absolute;
    height: 100%;
    width: 4px;
    background: #fff;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.wrapper .row {
    display: flex;
}

.wrapper .row-1 {
    justify-content: flex-start;
}

.wrapper .row-2 {
    justify-content: flex-end;
}

.wrapper .row section {
    background: #fff;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
}

.wrapper .row section::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: 2px;
    z-index: -1;
    transform: rotate(45deg);
}

.row-1 section::before {
    right: -7px;
}

.row-2 section::before {
    left: -7px;
}

.row section .icon,
.center-line .scroll-icon {
    position: absolute;
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ff7979;
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.center-line .scroll-icon {
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}

.row-1 section .icon {
    top: 15px;
    right: -60px;
}

.row-2 section .icon {
    top: 15px;
    left: -60px;
}

.row section .details,
.row section .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row section .details .title {
    font-size: 22px;
    font-weight: 600;
}

.row section p {
    margin: 10px 0 17px 0;
}

.row section .bottom a {
    text-decoration: none;
    background: #ff7979;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    /* font-size: 17px; */
    font-weight: 400;
    transition: all 0.3s ease;
}

.row section .bottom a:hover {
    transform: scale(0.97);
}

@media(max-width: 790px) {
    .wrapper .center-line {
        left: 40px;
    }

    .wrapper .row {
        margin: 30px 0 3px 60px;
    }

    .wrapper .row section {
        width: 100%;
    }

    .row-1 section::before {
        left: -7px;
    }

    .row-1 section .icon {
        left: -60px;
    }
}

@media(max-width: 440px) {

    .wrapper .center-line,
    .row section::before,
    .row section .icon {
        display: none;
    }

    .wrapper .row {
        margin: 10px 0;
    }
}


/*home */
/* home section styling */
.home {
    display: flex;
    background: url("Images/background.jpg") no-repeat center;
    height: 100vh;
    color: var(--white);
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home .max-width {
    width: 100%;
    display: flex;
}

.home .max-width .row {
    margin-right: 0;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: var(--red);
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: var(--red);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid var(--red);
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: var(--red);
    background: none;
}